h1 = bunny.name
p = "life #{bunny.bunny_stat.life}"
p = "attack #{bunny.bunny_stat.attack}"
p = "defense #{bunny.bunny_stat.defense}"
p = "stamina #{bunny.bunny_stat.stamina}"
p = "luck #{bunny.bunny_stat.luck}"
= link_to "Back", bunnies_path, class: "button rpgui-button"
= link_to "edit", edit_bunny_path(bunny), class: "button rpgui-button"
= link_to "delete", bunny_path(bunny), method: :delete, class: "button rpgui-button"
