= render 'shared/attr_stat_percentage',
    attr: 'life',
    container_id: container_id,
    color: StatColors::LIFE,
    attr_value: stat_object.life,
    attr_value_max: stat_object.life_total
= render 'shared/attr_stat_percentage',
    attr: 'damage',
    container_id: container_id,
    color: StatColors::ATTACK,
    attr_value: stat_object.damage,
    attr_value_max: stat_object.damage_total
= render 'shared/attr_stat_percentage',
    attr: 'succeed_attack',
    container_id: container_id,
    color: StatColors::LUCK,
    attr_value: stat_object.attack,
    attr_value_max: stat_object.attack_total
