.box.space-between
  = link_to "Back", :back, class: "button rpgui-button"
  h1.margin-auto = 'Create Weapon'
br
br
= render 'form', stock: stock_max
= link_to "Back", weapons_path, class: "button rpgui-button"
