.fighter-selection-wrapper.rpgui-container.framed
  h3 = "Bunny #{name}"
  = fight_form.input_field :tags,
                           name: 'fight[bunny_fight_stats_attributes[][bunny_id]]',
                           collection: bunnies,
                           label_method: :name,
                           value_method: :id,
                           class: "rpgui-list",
                           size: 7,
                           include_blank: false
  h3 Weapon
  - if weapons.length.positive?
    = fight_form.input_field :tags,
                             name: 'fight[bunny_fight_stats_attributes[][weapon_id]]',
                             collection: weapons,
                             label_method: :name,
                             value_method: :id,
                             class: 'rpgui-list',
                             size: 3
  - else
    p No weapon available
