= simple_form_for :fight, url: fights_path do |fight_form|
  .box.space-around
    = render 'bunny_fight_form',
      id: 'one',
      fight_form: fight_form,
      bunnies: bunnies,
      weapons: weapons
    = render 'bunny_fight_form',
      id: 'two',
      fight_form: fight_form,
      bunnies: bunnies,
      weapons: weapons
  = fight_form.button :button, "Fight !", class: 'rpgui-button', type: :submit
