h1 = "Fights (#{fights.length})"
ul
- fights.each do |fight|
  li
    = link_to "#{fight.id}", fight_path(fight)
= link_to "Bunnies", bunnies_path, class: "button rpgui-button"
= link_to "Fight !", new_fight_path, class: "button rpgui-button"
