$brown: #854c30
$brown-dark: #854c30 - #222
$brown-light: $brown + #222
$background: #222

body
  background: $background

.global-container
  width: 80%
  margin: 0 auto

.rpgui-container
  position: static
.rpgui-content
  position: unset

a.button
  text-align: center
  text-decoration: none
  line-height: 60px

.rpgui-content label
  display: block

h1.margin-auto
  margin: auto

.box
  display: flex
  flex-wrap: wrap

.space-between
  justify-content: space-between

.space-around
  justify-content: space-around

.header-right-wrapper
  padding-right: 33px
  margin: auto 0

// statistics related
.stat-wrapper
  .input,.rpgui-progress
    display: inline-block
  .rpgui-progress
    float: right
    width: 30%
    top: 20px
  .input
    width: 20%


// bunnies#edit
input[type='number']
  -moz-appearance: textfield

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

#stat-manager-title
  display: inline

.empty-slot
  text-align: center

// page#index
.home-info
  text-align: center
  width: 50%

// fight#show
// TODO: refacto
.fight-container

.percentage-progress-bar
  .rpgui-progress
    top: 0
    float: none
    width: 75%

.fight-stat
  width: 40%


h3.win, h3.lose
  text-decoration: none

h3.win
  color: green

h3.lose
  color: red
// fight#create

.fighter-selection-wrapper
  width: 40%

table
  width: 100%
  border-collapse: collapse
  text-align: center
  tr
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid
  tr.table-titles
    background: $brown-light
  td, th
    padding-left: 10px

.text-align-left
  text-align: left

