body
  background: #222

.global-container
  width: 80%
  margin: 0 auto

.rpgui-container
  position: static
.rpgui-content
  position: unset

a.button
  text-align: center
  text-decoration: none
  line-height: 60px

.rpgui-content label
  display: block

// statistics related
.stat-wrapper
  .input,.rpgui-progress
    display: inline-block
  .rpgui-progress
    float: right
    width: 30%
    top: 20px
  .input
    width: 20%


// bunnies#edit
input[type='number']
  -moz-appearance: textfield

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

#stat-manager-title
  display: inline

.empty-slot
  text-align: center

// page#index
.home-info
  width: 50%

// fight#show
// TODO: refacto
.fight-container

.percentage-progress-bar
  .rpgui-progress
    top: 0
    float: none
    width: 75%

.fight-stat
  width: 40%

.box
  display: flex
  dlex-wrap: wrap

.space-between
  justify-content: space-between

.space-around
  justify-content: space-around

h3.win, h3.lose
  text-decoration: none

h3.win
  color: green

h3.lose
  color: red
