body
  background: #222

.global-container
  width: 80%
  margin: 0 auto

.rpgui-container
  position: static
.rpgui-content
  position: unset

a.button
  text-align: center
  text-decoration: none
  line-height: 60px

.rpgui-content label
  display: block

.stat-wrapper
  .input,.rpgui-progress
    display: inline-block
  .rpgui-progress
    float: right
    width: 30%
    top: 20px
  .input
    width: 20%

input[type='number']
  -moz-appearance: textfield

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

#stat-manager-title
  display: inline

.empty-slot
  text-align: center

.home-info
  width: 50%

.win
.fight-stat
  text-align: center
